.container {
  max-width: 500px;
  margin: 50px auto;
}

.todo-list-form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-around;
}

.todo-list-form .mat-form-field {
 width: 300px;
 margin-right: 20px;
}

 .todo-list-form .mat-raised-button {
  margin-left: 10px;
 }