.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-around;
}

.todo-form .mat-form-field {
  width: 300px;
  margin-right: 20px;
}

.todo-form .mat-raised-button {
  margin-left: 10px;
}
